body {
  margin: 0;
}
.header {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
.header .text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: #a4a4a4;
  font-size: 24px;
  font-weight: 700;
  gap: 5px;
}
.header img {
  width: 300px;
  height: 60px;
  padding-left: 25px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #a4a4a4;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.form-item {
  position: relative;
}

.form-item input {
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  border: 1px solid #d2d2d7;
  border-radius: 8px;
  outline-color: #0071e3;
  font-size: 14px;
}

/* label 初始状态（在输入框里面） */
.form-item label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 14px;
  background: white;
  padding: 0 4px;
  transition: all 0.2s ease;
}

/* 聚焦 或 已输入 时 */
.form-item input:focus + label,
.form-item input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #0071e3;
}

input[type="submit"] {
  cursor: pointer;
  width: 150px;
  margin: 30px auto;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  grid-column: span 2;
  justify-self: center;
}
input[type="submit"]:hover {
  background-color: #4996e4e4;
  color: #ffffff;
  font-weight: 700;
}
table {
  margin: 20px auto;
  width: 800px;
  border-collapse: collapse;
  color: #ffffff;
}
th {
  padding: 10px;
  background: #4996e4e4;
  font-size: 20px;
  font-weight: 400;
}
td,
th {
  border: 1px solid #b8daff;
}
td {
  padding: 10px;
  color: #666;
  text-align: center;
  font-size: 16px;
}
td a {
  text-decoration: none;
  margin: 0 5px;
}
td a.edit {
  color: #0071e3;
}
td a.del {
  color: #ff3b30;
}
td a:hover {
  text-decoration: underline;
}
tbody tr {
  background: #fff;
}
tbody tr:hover {
  background: #e1ecf8;
}

/* #searchBookName {
  width: 400px;
}
#searchBookName input {
  width: 300px;
}  */
.search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.search .form-item {
  grid-column: span 2;
}
.btnSearch {
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border-radius: 30px;
  border: none;
}
.btnSearch:hover {
  background-color: #4996e4e4;
  color: #ffffff;
  font-weight: 700;
}
